  <div class="be-content" style="background-color: #FFFF !important;">
    <div class="main-content container-fluid">
      <section class="clearfix" app-login>
        <div class="header-div" style="background-color: #FFFF" >
          <div class="header-text">
            <h3 style="float: left">
              <a href="/">
                <span class="header-img">
                  <img src="../../../assets/images/slider/camxuan.JPG" style="width: 150px;">           
      
                </span>
              </a>
              <div style="padding-left: 180px;
              color: #12A551;
              text-align: center;
              position: absolute;
              top: 21%;
              width: 140%;
              font-size: 30px;
          ">
                <p>HỢP TÁC XÃ NÔNG NGHIỆP SINH THÁI CẨM XUÂN</p>         
              </div>
            </h3>
          </div>
        </div>
        <router-outlet></router-outlet>
      </section>
    </div>
    <footer class="clearfix" style="position: absolute;
    top: 88%;
    left: 39%;">
      <div style="padding-left: 65px;">
      <p class="text-footer-name">HỢP TÁC XÃ NÔNG NGHIỆP SINH THÁI CẨM XUÂN</p>

      <p class="text-footer-camxuan-add">Địa chỉ: Tổ 13 ấp Cọ Dầu 2, xã Xuân Đông, huyện Cẩm Mỹ, tỉnh Đồng Nai</p>
      <p class="text-footer-camxuan-add">MST: 3603869701 - Điện thoại: 0904 334 119 / 0913 425 207</p>
    </div>       
      <!-- <div id="vnpt-logo"></div>
      <p class="gray-color">
        Xây dựng và phát triển bởi Trung tâm  CNTT - VNPT Thừa Thiên Huế
        <br> 
        © 2020 thuộc VNPT Thừa Thiên Huế * Điện thoại: (0234)-3846869 * Email: support_hue@vnpt.vn</p> -->
  </footer>
  </div>