<section id="main" class="extend clearfix" style="min-height: 700px;">
  <div class="header-div">
    <div class="header-text">
      <h3 style="float: left">
        <a href="/">
          <span class="header-img">
            <img src="../../../../assets/images/slider/camxuan2.JPG">
            <p class="title-danhmuc-camxuan">/ Danh mục luống phân</p>             
          </span>
        </a>
      </h3>
    </div>
  </div>
  <div class="danhsach" style="background: #fff !important;">
    <div class="row row-frm">
      <div class="col-sm-12">
        <div class="modal-body">
          <div class="clearfix">
            <div id="grid-result" class="body" style="overflow-x: scroll;">
              <div style="justify-content: space-between;">
                <div class="col-sm-4">
                  <div class="input-group" style="height:35px">
                    <input type="text" [(ngModel)]="term" class="form-control" style="height:35px"
                      placeholder="Nhập từ khóa để tìm kiếm">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="float-input" title="Phân xưởng">
                    <ng-select bindLabel="name" placeholder="Mã xưởng" appendTo="body" [searchable]="true"
                      [clearable]="true" [(ngModel)]="ma_xuong_select" (change)="change_xuong()">
                      <ng-option [value]="item.ma_xuong" [disabled]="item.disabled" *ngFor="let item of dataxuong">
                        <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                        {{item.ten_xuong}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="float-input" title="Đường">
                    <ng-select bindLabel="name" placeholder="Mã đường" appendTo="body" [searchable]="true"
                      [clearable]="true" [(ngModel)]="ma_duong_select" (change)="change_duong()">
                      <ng-option [value]="item.ma_duong" [disabled]="item.disabled" *ngFor="let item of dataduong">
                        <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                        {{item.ten_duong}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-2" style="text-align: right;">
                  <button type="button" class="btn btn-primary" style="margin-bottom: 10px;border-radius:3px;"
                    (click)="add()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Thêm mới</button>
                </div>
              </div>
              <div style="border-bottom: 1px solid #ced4da; margin-bottom: 10px; width: 2200px;" >
                <table class="table table-condensed table-striped table-bordered">
                  <thead>
                    <tr>
                      <!-- <th class="text-center" style="width: 50px;">STT</th> -->
                      <th class="text-center col-sm-1">Chức năng</th>
                      <th class="col-sm-1" style="width: 100px;">Số lần xử lý</th>
                      <th class="col-sm-2" style="width: 400px;">Tên luống</th>
                      <th class="col-sm-1" style="width: 100px;">Tên đường</th>
                      <th class="col-sm-1" style="width: 150px;">Trọng lượng</th>
                      <th class="col-sm-1" style="width: 100px;">Vị trí luống</th>
                      <th class="col-sm-2">Số lượng NL</th>  
                      <th class="col-sm-2">Loại phân</th> 
                      <th class="col-sm-1">Mô tả</th>      
                      <th ></th>
                    </tr>
                  </thead>
                  <tbody>

                    <!-- Mới -->
                    <tr>
                      <td colspan="4"><strong>Đang nhập mới</strong></td>
                      <td  colspan="5">
                        <strong>{{tong_moi}} (Tấn)</strong>
                      </td>
                    </tr>
                    <tr
                      *ngFor="let luongphan of luongphans_moi;let i = index">
                      <!-- <td class="text-center">{{i + 1 }}</td> -->
                      <td class="text-center chucnang-fa">
                        <a href="javascript:void(0);" (click)="edit(luongphan)">
                          <i class="fa fa-edit" ></i>
                        </a>
                        <a href="javascript:void(0);" (click)="deleteluongphan(luongphan)">
                          <i class="fa fa-times-circle" style="color: red; font-size: 20px;"></i>
                        </a>
                      </td>
                      <td>
                       {{luongphan.lan_xuly?luongphan.lan_xuly:0}}
                      </td>
                      <td>
                        <i *ngIf="luongphan.trangthai == 3" style=" padding-right: 10px; color: #28a745;" class="fa fa-circle"></i>
                        <i *ngIf="luongphan.trangthai == 1" style=" padding-right: 10px; color: red;" class="fa fa-circle"></i>
                        <i *ngIf="luongphan.trangthai == 2" style=" padding-right: 10px; color: #ffc107  ;" class="fa fa-circle"></i>
                        <strong>{{luongphan.ma_luong}}</strong> - {{luongphan.ten_luong}}
                      </td>
                      <td>
                        {{luongphan.ten_duong}}
                      </td>
                      
                      <td>
                        {{luongphan.trongluong}}
                      </td>

                      <td>
                        Vị trí {{luongphan.stt}}
                      </td>
                      <td>
                        {{luongphan.soluong_nguyenlieu}}
                      </td>
                      <td>
                        {{luongphan.ten_loaiphan}}
                      </td>   
                       <td>
                        {{luongphan.mota}}
                      </td>
                    </tr>

                    <!-- Đang xử lý -->
                    <tr>
                      <td colspan="4"><strong>Đang Xử lý</strong></td>
                      <td colspan="5">
                        <strong>{{tong_xuly}} (Tấn)</strong>
                      </td>                     
                    </tr>
                    <tr
                      *ngFor="let luongphan of luongphans_xuly;let i = index">                      
                      <td class="text-center chucnang-fa">
                        <a href="javascript:void(0);" (click)="edit(luongphan)">
                          <i class="fa fa-edit" ></i>
                        </a>
                        <a href="javascript:void(0);" (click)="deleteluongphan(luongphan)">
                          <i class="fa fa-times-circle" style="color: red; font-size: 20px;"></i>
                        </a>
                      </td>
                      <td>
                        {{luongphan.lan_xuly?luongphan.lan_xuly:0}}
                        </td>
                      <td>
                        <i *ngIf="luongphan.trangthai == 3" style=" padding-right: 10px; color: #28a745;" class="fa fa-circle"></i>
                        <i *ngIf="luongphan.trangthai == 1" style=" padding-right: 10px; color: red;" class="fa fa-circle"></i>
                        <i *ngIf="luongphan.trangthai == 2" style=" padding-right: 10px; color: #ffc107  ;" class="fa fa-circle"></i>
                        <strong>{{luongphan.ma_luong}}</strong> - {{luongphan.ten_luong}}
                      </td>
                      <td>
                        {{luongphan.ten_duong}}
                      </td>
                      <td>
                        {{luongphan.trongluong}}
                      </td>
                      <td>
                        Vị trí {{luongphan.stt}} 
                        <a href="javascript:void(0);" (click)="Chuyenvitri(luongphan)">
                          <i class="fa fa-arrow-right" style="color: red; font-size: 20px;"></i>
                        </a>
                      </td>
                      <td>
                        {{luongphan.soluong_nguyenlieu}}
                      </td>    
                      <td>
                        {{luongphan.ten_loaiphan}}
                      </td> 
                       <td>
                        {{luongphan.mota}}
                      </td>
                    </tr>
                     <!-- Hoàn thành -->
                     <tr>
                      <td colspan="4"> <strong>Hoàn thành</strong></td>
                      <td colspan="5">
                        <strong>{{tong_hoanthanh}} (Tấn)</strong>
                      </td>                      
                    </tr> 
                    <tr
                      *ngFor="let luongphan of luongphans_hoanthanh;let i = index">                      
                      <td class="text-center chucnang-fa">
                        <a href="javascript:void(0);" (click)="edit(luongphan)">
                          <i class="fa fa-edit" ></i>
                        </a>
                        <a href="javascript:void(0);" (click)="deleteluongphan(luongphan)">
                          <i class="fa fa-times-circle" style="color: red; font-size: 20px;"></i>
                        </a>
                      </td>
                      <td>
                        {{luongphan.lan_xuly?luongphan.lan_xuly:0}} 
                      </td>
                      <td>
                        <i *ngIf="luongphan.trangthai == 3" style=" padding-right: 10px; color: #28a745;" class="fa fa-circle"></i>
                        <i *ngIf="luongphan.trangthai == 1" style=" padding-right: 10px; color: red;" class="fa fa-circle"></i>
                        <i *ngIf="luongphan.trangthai == 2" style=" padding-right: 10px; color: #ffc107  ;" class="fa fa-circle"></i>
                        <strong>{{luongphan.ma_luong}}</strong> - {{luongphan.ten_luong}}
                      </td>
                      <td>
                        {{luongphan.ten_duong}}
                      </td>
                      <td>
                        {{luongphan.trongluong}}
                      </td>
                      <td>
                        Vị trí {{luongphan.stt}}
                      </td>
                       <td>
                        {{luongphan.soluong_nguyenlieu}}
                      </td>
                      <td>
                        {{luongphan.ten_loaiphan}}
                      </td> 
                       <td>
                        {{luongphan.mota}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> 
          
            </div>
            <div class="gray-bg btn-block">
              <div class="row" style="padding-top: 20px;">
                <div class="col-sm-12">
                  <div class="row row-frm">
                    <div class="col-md-6">
                      <p>
                        <span>
                          <i style="margin-left: 10px; margin-right: 10px; color: red;" class="fa fa-circle"> </i> Mới                        
                      
                        </span>
                        <span>                            
                          <i style="margin-left: 10px; margin-right: 10px; color: #ffc107;" class="fa fa-circle"> </i> Đang xử lý
                        </span>
                        <span>                            
                          <i style="margin-left: 10px; margin-right: 10px; color: #28a745;" class="fa fa-circle"> </i> Hoàn thành
                        </span>
                      </p>    
                    </div>
                    <div class="col-md-6">                          
                      <pagination-controls (pageChange)="p = $event" class="pull-right" previousLabel="" nextLabel="">
                      </pagination-controls>

                      <span style="float: right !important;" class="grid-counter gray-color fc-666 pull-left">Số bản ghi:
                        <strong>{{totalItems}}</strong> 

                      </span>   
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ag-grid-angular
          style="width: 100%; height: 700px;"
          class="ag-theme-alpine"
          [columnDefs]="columnDefs"
          [groupDefaultExpanded]="3" 
          [defaultColDef]="defaultColDef"
          [groupDisplayType]="groupDisplayType"
          [animateRows]="true"
          [rowData]="luongphans"
        ></ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</section>