<section id="main" class="extend clearfix" style="min-height: 500px;">
  <div *ngIf="hide_title == true" class="header-div">
    <div class="header-text">
      <h3 style="float: left">
        <a href="/">
          <span class="header-img">
            <img src="../../../../assets/images/slider/camxuan2.JPG">
            <p class="title-danhmuc-camxuan">/ Trạng thái luống phân </p>
          </span>
        </a>
      </h3>
    </div>
  </div>
  <div class="danhsachcongviec">
    <div class="row row-frm">
      <div class="col-sm-12">
        <div class="modal-body">
          <div class="clearfix">
            <div id="grid-result" class="body">
              <div style="justify-content: space-between;">
                <div class="col-sm-4">
                  <div class="input-group" style="height:35px">
                    <input type="text" [(ngModel)]="term" class="form-control" style="height:35px"
                      placeholder="Nhập từ khóa để tìm kiếm">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="float-input" title="Phân xưởng">
                    <ng-select bindLabel="name" placeholder="Mã xưởng" appendTo="body" [searchable]="true"
                      [clearable]="true" [(ngModel)]="ma_xuong_select" (change)="change_xuong()">
                      <ng-option [value]="item.ma_xuong" [disabled]="item.disabled" *ngFor="let item of dataxuong">
                        <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                        {{item.ten_xuong}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="float-input" title="Chọn đường">
                    <ng-select bindLabel="name" placeholder="Mã đường" appendTo="body" [searchable]="true"
                      [clearable]="true" [(ngModel)]="ma_duong_select" (change)="change_duong()">
                      <ng-option [value]="item.ma_duong" [disabled]="item.disabled" *ngFor="let item of dataduong">
                        <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                        {{item.ten_duong}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ejs-kanban locale='vi' keyField='keyfield' [dataSource]='data' [cardSettings]='cardSettings'
      [swimlaneSettings]='swimlaneSettings' (dragStop)='onKanbanBDragStop($event)' (dialogOpen)="dialogOpen($event)">
      <e-columns>
        <e-column style="font-weight: bold;" headerText='Mới' keyField='1'>
        </e-column>
        <e-column headerText='Đang xử lý' keyField='2'></e-column>
        <e-column headerText='Hoàn thành' keyField='3'></e-column>
      </e-columns>

      <ng-template #cardSettingsTemplate let-data>
        <div class='e-card-content'>
          <div>
            <a data-toggle="collapse" [href]="'#collapse'+ data.id_luong" role="button" aria-expanded="false"
              [aria-controls]="'#collapse'+ data.id_luong" class="p2-3 shadow-sm with-chevron" style="background-color: grey !important;">
              <p class="d-flex align-items-center justify-content-between mb-0 px-3 py-2">
                <span class="title_menu_fa "> 
                  <img style="height:30px;width: 30px;" src="../../../../assets/images/slider/insert.png">
              </span>
                <strong
                [style.color]="data.trangthai ==1?'#dc3545':(data.trangthai ==2?'#ffc107':'#28a745')" class="text-uppercase">{{data.ten_duong}} - {{data.ma_luong}} ({{data.ten_luong}}) Vị trí {{data.stt}} ({{data.trongluong?data.trongluong:0}})</strong><i class="fa fa-angle-down"></i>
              </p>

            </a>
            <div [id]="'collapse' + data.id_luong" class="collapse shadow-sm">
              <div class="card">
                <div class="card-body">
                  <ul>
                    <li>Nguyên liệu trong luống: <strong>{{data.soluong_nguyenlieu}}</strong></li>
                    <li>Trọng lượng: <strong>{{data.trongluong}}</strong></li>
                    <li>Loại luống phân: <strong>{{data.loai_luongphan}}</strong></li>
                    <li>Mô tả: <strong>{{data.mota}}</strong></li>
                  </ul>
                  <a (click)="editcard(data)" style="color: blue; font-style: italic;text-decoration: underline;">Xem
                    chi tiết</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-template>
      
      <ng-template #swimlaneSettingsTemplate let-data>
        <div id="swimlaneTemplate">
          <div class="swimlane-template e-swimlane-template-table">
            <div class="e-swimlane-row-text">
              <img class="icon-time" src="../../../../assets/images/time.png"
                alt="{{data.ten_trangthai}}" /><span>{{data.ten_trangthai}}</span>
            </div>
          </div>
        </div>
      </ng-template>
    </ejs-kanban>
  </div>
</section>