<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-header" style="display: flow-root;">
    <button type="button" class="close" (click)="closed()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title" style="margin-bottom: 0px;">
      <i style="margin-right: 10px; color: #17b799; font-size: 20px;" class="fa fa-plus-square"></i> {{title}}
    </h4>
  </div>
  <div class="modal-body" style="background-color:#f2f2f2">
    <div class="clearfix">
      <div class="row">        
        <div class="col-sm-12" style="padding-left: 0;">
          <div style="position: relative; overflow: hidden; width: auto; height: auto;">
            <div class="chitietcongviec">
              <table class="table table-condensed table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="col-sm-1">STT</th>
                    <th class="col-sm-3">Tên vật tư</th>
                    <th class="col-sm-3">Mã vật tư</th>
                    <th class="col-sm-1">Số lượng</th>
                    <th class="col-sm-1">Đơn vị tính</th>
                    <th class="col-sm-3"> Ghi chú</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let ct_vattu of ct_vattus;let i = index">
                    <td class="text-center">{{i + 1 }}</td>
                    <td>
                      {{ct_vattu.ten_vattu}}
                    </td>
                    <td>
                      {{ct_vattu.ma_vt}}
                    </td>
                    <td class="text-center">
                      {{ct_vattu.soluong}}
                    </td>
                    <td class="text-center">
                      {{ct_vattu.ten_dv_tinh}}
                    </td>
                    <td>
                      {{ct_vattu.ghichu}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>