<section id="main" class="extend clearfix" style="min-height: 700px;">
  <div class="header-div">
    <div class="header-text">
      <h3 style="float: left">
        <a href="/">
          <span class="header-img">
            <img src="../../../../assets/images/slider/camxuan2.JPG">
            <p class="title-danhmuc-camxuan">/ Nhập nguyên liệu cho luống phân </p>
          </span>
        </a>
      </h3>
    </div>
  </div>
  <div class="danhsach" style="background: #fff !important;">
    <div class="row row-frm">
      <div class="col-sm-12">
        <div class="modal-body">
          <div class="clearfix">
            <div id="grid-result" class="body" style="overflow-x: scroll;">
              <div style="justify-content: space-between;">
                <div class="col-sm-4">
                  <div class="input-group" style="height:35px">
                    <input type="text" [(ngModel)]="term" class="form-control" style="height:35px"
                      placeholder="Nhập từ khóa để tìm kiếm">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="float-input" title="Phân xưởng">
                    <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                    <ng-select bindLabel="name" placeholder="Mã xưởng" appendTo="body" [searchable]="true"
                      [clearable]="true" [(ngModel)]="ma_xuong_select" (change)="change_xuong()">
                      <ng-option [value]="item.ma_xuong" [disabled]="item.disabled" *ngFor="let item of dataxuong">
                        <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                        {{item.ten_xuong}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="float-input" title="Chọn đường">
                    <!-- <input type="text" formControlName="tencongviec" class="form-control" /> -->
                    <ng-select bindLabel="name" placeholder="Mã đường" appendTo="body" [searchable]="true"
                      [clearable]="true" [(ngModel)]="ma_duong_select" (change)="change_duong()">
                      <ng-option [value]="item.ma_duong" [disabled]="item.disabled" *ngFor="let item of dataduong">
                        <img src="../../../../assets/images/home.PNG" width="20px" height="20px" />
                        {{item.ten_duong}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div style="border-bottom: 1px solid #ced4da;
              margin-bottom: 10px; width: 2000px;">
                <table class="table table-condensed table-striped table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center" style="width: 50px;">STT</th>
                      <th class="col-sm-1 text-center">Chức năng</th>
                      <th class="col-sm-1">Mã luống</th>
                      <th class="col-sm-2">Tên luống</th>
                      <th class="col-sm-1">Tên đường</th>
                      <th class="col-sm-1">Vị trí luống</th>
                      <th class="col-sm-1">Loại phân</th>
                      <th class="col-sm-1">Mô tả</th>
                      <th class="col-sm-3">Nguyên liệu trong luống</th>
                      <th class="col-sm-1">Khối lượng</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let dataluong of dataluongs | filter:term | paginate: { itemsPerPage: 15, currentPage: p };let i = index">
                      <td class="text-center">{{i + 1 }}</td>
                      <td *ngIf="dataluong.trangthai == 1||dataluong.trangthai == 2" class="text-center chucnang-fa">
                        <a href="javascript:void(0);" (click)="edit(dataluong)">
                          <span class="glyphicon glyphicon-plus" style="color: #11A34F;" aria-hidden="true"></span>
                        </a>
                        <a href="javascript:void(0);" (click)="edit_phuongtien(dataluong)">
                          <img src="../../../../assets/images/slider/pick-up-truck.png" style="margin-left: 8px;" width="25px" height="25px" />
                        </a>
                      </td>
                      <td>
                        <i *ngIf="dataluong.trangthai == 3" style=" padding-right: 10px; color: #28a745;" class="fa fa-circle"></i>
                        <i *ngIf="dataluong.trangthai == 1" style=" padding-right: 10px; color: red;" class="fa fa-circle"></i>
                        <i *ngIf="dataluong.trangthai == 2" style=" padding-right: 10px; color: #ffc107  ;" class="fa fa-circle"></i>
                        <strong>{{dataluong.ma_luong}}</strong>
                      </td>
                      <td>
                        {{dataluong.ten_luong}}
                      </td>
                      <td>
                        {{dataluong.ten_duong}}
                      </td>
                      <td>
                        {{dataluong.ma_duong}} - Vị trí {{dataluong.stt}}
                      </td>
                      <td>
                        {{dataluong.ten_loaiphan}}
                      </td>
                      <td>
                        {{dataluong.mota}}
                      </td>
                      <td>
                        {{dataluong.soluong_nguyenlieu}}
                      </td>
                      <td>
                        {{dataluong.trongluong}}
                      </td>                      
                    </tr>
                  </tbody>
                </table>
              </div> 
            </div>
            <div class="gray-bg btn-block">
              <div class="row" style="padding-top: 20px;">
                <div class="col-sm-12">
                  <div class="row row-frm">
                    <div class="col-md-6">
                      <p>
                        <span>
                          <i style="margin-left: 10px; margin-right: 10px; color: red;" class="fa fa-circle"> </i> Mới                        
                      
                        </span>
                        <span>                            
                          <i style="margin-left: 10px; margin-right: 10px; color: #ffc107;" class="fa fa-circle"> </i> Đang xử lý
                        </span>
                        <span>                            
                          <i style="margin-left: 10px; margin-right: 10px; color: #28a745;" class="fa fa-circle"> </i> Hoàn thành
                        </span>
                      </p>    
                    </div>
                    <div class="col-md-6">                          
                      <pagination-controls (pageChange)="p = $event" class="pull-right" previousLabel="" nextLabel="">
                      </pagination-controls>

                      <span style="float: right !important;" class="grid-counter gray-color fc-666 pull-left">Số bản ghi:
                        <strong>{{totalItems}}</strong> 

                      </span>   
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>