<style>
  * {
    box-sizing: border-box
  }

  /* thiết lập style cho slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* ẩn hình ảnh cho phần tử slideshow */
  .mySlides {
    display: none;
  }

  .fade:not(.show) {
    opacity: 1;
  }

  /* thiết kế nút mũi tên*/
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* thiết kế nút mũi tên next nằm phía bên phải */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Thiết lập style cho nội dung của mỗi phần tử slideshow */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Thiết lập style cho số hiển thị của phần tử */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* thiết lập style  nút tròn điều khiển*/
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* tạo hiệu ứng chuyển động fade */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .main-content {
    background-color: #fff;
  }

  .header-div {
    width: 70%;
    z-index: 1030;
    position: fixed;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }
</style>
<script>


</script>

<section id="dashboard" class="extend clearfix">
  <div class="header-div">
    <div class="header-text">
      <h3 style="float: left">
        <a href="/">
          <span class="header-img">
            <img src="../../../assets/images/slider/camxuan.JPG" style="width: 150px;">

          </span>
        </a>
        <div style="padding-left: 180px;
        color: #12A551;
        text-align: center;
        position: absolute;
        top: 21%;
        width: 125%;
        font-size: 30px;
    ">
          <p>HỢP TÁC XÃ NÔNG NGHIỆP SINH THÁI CẨM XUÂN</p>
        </div>
      </h3>
    </div>
  </div>
  <div style="float: left; width: 97%; padding-top: 20px; min-height: 500px;">
    <div class="row row-frm">
      <div class="col-sm-6">
        <div class="panel-body gray-bg" style="min-height: auto !important; padding-top: 0px">
          <label class="title-form"> <i style="margin-right: 13px;" class="fa fa-home"></i>Cây cấu trúc hợp tác xã</label>
          <div class="panel-body" style="border:solid 1px #ccc; height: auto; max-height: 1000px; overflow: scroll;"
            *ngIf="isDataAvailable">
            <div class="form-group">
              <div style="position: relative;">
                <input id="filter" #filter (keyup)="tree.treeModel.filterNodes(filter.value)"
                  placeholder="Nhập thông tin cần tìm" /> <i class="fa  icon-search"></i>
              </div>
              <tree-root #tree [focused]="true" [nodes]="node" [options]="options" (activate)="onEvent($event.node)"
                (initialized)="onInitialized(tree)">
                <ng-template #treeNodeTemplate let-node let-index="index">
                  <p [ngClass]="node.data.classes" style="margin-bottom: 2px;">
                    <img *ngIf="node.data.cap == 0" src="../../../assets/images/slider/icon_cx_2.png" style="width: 18px; margin-top: -2px;" alt="">
                    <img *ngIf="node.data.cap == 1" src="../../../assets/images/slider/warehouse.png" style="width: 18px; margin-top: -2px;" alt="">
                    <img *ngIf="node.data.cap == 2" src="../../../assets/images/slider/two-way-street.png" style="width: 18px; margin-top: -2px;" alt="">
                    <img *ngIf="node.data.cap == 3" src="../../../assets/images/slider/land.png" style="width: 18px; margin-top: -2px;" alt="">
                   <span *ngIf="node.data.cap == 0" style="padding-left: 5px; color: red; font-weight: bold;">{{ node.data.name }}</span>
                   <span *ngIf="node.data.cap != 0" [style.color]="node.data.trangthai =='1'?'#dc3545':(node.data.trangthai =='2'?'orange':(node.data.trangthai =='3'?'green':'black'))" style="padding-left: 5px;">{{ node.data.name }}</span>
                  </p>
                </ng-template>
              </tree-root>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="modal-body">
          <div class="clearfix">
            <tabset>
              <tab heading="Thông tin cơ bản" class="mt-2" (selectTab)="onSelect(1)">
                <div id="grid-result" class="body">
                  
                  <div *ngIf="view_cap== 0" >
                    <div class="col-sm-12" style="padding-top: 10px;">
                      <p class="nhansu-name">HỢP TÁC XÃ NÔNG NGHIỆP SINH THÁI CẨM XUÂN</p>
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-map-marker"></i> <strong>Địa chỉ:</strong> <span class="text-detail">Tổ 13 ấp Cọ Dầu 2, xã Xuân Đông, huyện Cẩm Mỹ, tỉnh Đồng Nai</span> </p>
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-newspaper-o"></i> <strong> MST: </strong> <span class="text-detail">3603869701</span></p>
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-phone-square"></i> <strong>Điện thoại:</strong> <span class="text-detail">0904 334 119 / 0913 425 207</span></p>
                    </div>
                    <div>
                      <!-- <p> <i *ngIf="nhansu.active == 1" style="margin-right: 5px; color: chartreuse;"
                          class="fa fa-circle"></i>
                        <i *ngIf="nhansu.active != 1" style="margin-right: 5px; color: red;" class="fa fa-circle"></i>
                        {{nhansu.ma_nv}}
                      </p>
                      <p> <i style="margin-right: 5px; " class="fa fa-university"></i> {{nhansu.ten_dv}}</p>
                      <p> <i style="margin-right: 5px; color: coral;" class="fa fa-envelope"></i>{{nhansu.email}}</p> -->
                    </div>
                  </div>

                  <div *ngIf="view_cap== 1" >
                    <!-- <div class="col-sm-2" style="text-align: center;">
                      <img class="img-nhansu" src="../../../assets/images/slider/icon_cx_2.png"
                        onerror="this.src='../../../../assets/images/icon_account.png';" />
                    </div> -->
                    <div class="col-sm-12" style="padding-top: 10px;">
                      <p class="nhansu-name">{{phanxuongview.ten_xuong}}</p>
                      </div>
                    <div class="col-sm-6" style="padding-top: 10px;">
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-hashtag"></i><strong>Mã: </strong> <span class="text-detail">{{phanxuongview.ma_xuong}}</span></p>
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-user-circle"></i> <strong>Người đại diện: </strong> <span class="text-detail">{{phanxuongview.nguoi_daidien}}</span></p>
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-phone-square"></i> <strong>Điện thoại: </strong><span class="text-detail">{{phanxuongview.sdt_lienhe}}</span> </p>
                    </div>
                    <div class="col-sm-6" style="padding-top: 10px;">                     
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-map-marker"></i><strong> Địa chỉ: </strong> <span class="text-detail">{{phanxuongview.diachi}}</span></p>
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-building"></i><strong>Tỉnh thành: </strong> <span class="text-detail">{{phanxuongview.ten_tinh}}</span></p>
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-bars"></i><strong>Số tuyến đường: </strong> <span class="text-detail">{{phanxuongview.so_luong_tuyen}}</span></p>
                    </div>
                  </div>

                  <div *ngIf="view_cap== 2" >
                    <div class="col-sm-12" style="padding-top: 10px;">
                      <p class="nhansu-name">{{tuyenduongview.ten_duong}}</p>
                      </div>
                    <div class="col-sm-6" style="padding-top: 10px;">
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-hashtag"></i><strong>Mã: </strong><span class="text-detail">{{tuyenduongview.ma_duong}}</span></p>
                      
                    </div>
                    <div class="col-sm-6">
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-bars"></i><strong>Số luống: </strong><span class="text-detail">{{tuyenduongview.so_luong}}</span></p>                      
                    </div>
                    <div class="col-sm-12">
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-info-circle"></i><strong>Mô tả: </strong> <span class="text-detail">{{tuyenduongview.mota}}</span></p>                      
                    </div>
                  </div>

                  <div *ngIf="view_cap== 3" >
                    <div class="col-sm-12" style="padding-top: 10px;">
                      <p class="nhansu-name">{{luongview.ten_luong}}</p>
                      </div>
                    <div class="col-sm-6" style="padding-top: 10px;">
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-hashtag"></i><strong>Mã: </strong> <span class="text-detail">{{luongview.ma_luong}}</span></p>                     
                    </div>
                    <div class="col-sm-6" style="padding-top: 10px;">
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-map-marker"></i><strong>Vị trí luống: </strong> <span class="text-detail">{{luongview.stt}}</span></p>                     
                    </div>
                    <div class="col-sm-6">
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-circle"></i><strong>Loại luống phân: </strong> <span class="text-detail">{{luongview.ten_loaiphan}}</span></p>                     
                    </div>
                    <div class="col-sm-6" >
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-balance-scale"></i><strong>Trạng thái: </strong> <span class="text-detail">{{luongview.ten_trangthai}} </span></p>                                           
                    </div>
                    <div class="col-sm-12" >
                      <p> <i style="margin-right: 5px; color: #12A551;" class="fa fa-cubes"></i> <strong>NGUYÊN LIỆU TRONG LUỐNG</strong></p>                                 
                    </div>
                    <div *ngFor="let nguyenlieu of nguyenlieuview ; let i = index" class="col-sm-12" style="padding-top: 10px;">                      
                      <p  class="col-sm-8"> <i style="margin-right: 5px; color: #12A551;" class="fa fa-dot-circle-o"></i><strong>Tên: </strong> <span class="text-detail">{{nguyenlieu.ten_vattu}}</span></p>                      
                      <p  class="col-sm-4"> <i style="margin-right: 5px; color: #12A551;" class="fa fa-balance-scale"></i><strong>Khối lượng: </strong> <span class="text-detail">{{nguyenlieu.soluong}} ({{nguyenlieu.ten_dv_tinh}})</span></p>                   
                    </div>
                    
                  </div>

                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>